doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 webRTC API 3요소
      ul
        li MediaStream, GetUserMedia
        li RTCPeerConnection
        li RTCDataChannel